* {
  margin: 0;
  padding: 0;
}

.container {
  background: #000;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.img {
  width: 30%;
}

.wrapper {
  width: 600px;
  height: 300px;
  margin: auto;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  border: 5px solid red;
  box-shadow: 0px 0px 1000px rgba(255, 0, 0, 0.5);
  background-color: transparent;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  color: white;
  margin: 40px 0;
}

input {
  margin: 20px 0;
  width: 300px;
  padding: 8px;
  color: white;
}

input:focus-visible {
  outline: none;
  color: white;
}

button {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  margin: 30px 0;
  border-radius: 40px;
  background: transparent;
  border: 2px solid white;
}
p{
  color: white;
}
button:hover {
  width: 150px;
  height: 40px;
  color: #000000;
  font-size: 20px;
  margin: 30px 0;
  border-radius: 40px; 
  background: white;
  border: 2px solid white;
}